.hero__image {
  width: 384px;
  height: 384px;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url(../../../images/Keanu.jpg);
  background-position: center;
  background-size: cover;
  border: 11px solid #cecece;
  border-radius: 50%;
}

@media (max-width: 769px) {
  .hero__image {
    grid-row: 1;
    margin: 0 auto;
    width: 284px;
    height: 284px;
    border: 7px solid #cecece;
  }
}

@media (max-width: 321px) {
  .hero__image {
    grid-row: 1;
    margin: 0 auto;
    width: 113px;
    height: 113px;
    border: 3px solid #cecece;
  }
}