.contacts__social-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 32px 0 0 0;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 1023px) {
    .contacts__social-icons {
        margin: 35px 0 0 0;
    }
}