.contacts__form-title {
    max-width: 380px;
    margin: 47px auto 30px auto;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    
    text-align: center;
    
    color: #000000;
}

@media screen and (max-width: 1023px) {
    .contacts__form-title {
        max-width: 220px;
        font-size: 15px;
        line-height: 21px;
    }
}