@media (max-width: 321px) {
  .header__social-icon {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .header__social-icon {
    width: 85%;
  }
}

.header__social-icon {
  opacity: 1;
  transition: opacity .5s ease-out;
}

.header__social-icon:hover {
  opacity: .7
}
