.body__button {
  background-color: #ffbb01;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: calc(16 / 12);
  color: #1b2944;
  transition: border-radius ease .2s;
  border-radius: 10px;
  box-shadow: 0 4px 0 #b68500;
  box-sizing: border-box;
}

.body__button:hover {
  border-radius: 15px;
}

.body__button:active {
  padding-top: 2px;
  box-shadow: inset 0 4px 4px #b68500, 0 2px 0 #b68500;
}

@media (max-width: 769px) {
  .body__button {
    font-size: 11px;
    height: 55px;
  }
}

@media (max-width: 321px) {
  .body__button {
    font-size: 10px;
    height: 44px;
  }
}