.contacts__social-links {
    display: grid;
    grid-template-columns: 85px 92px 94px;
    grid-template-rows: max-content;
    gap: 50px;
}

@media screen and (max-width: 1023px) {
    .contacts__social-links {
        display: grid;
        grid-template-columns: max-content;
        gap: 1px;
    }
}