.gallery__time {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    margin: 8px 0 0 0;
    letter-spacing: 0.32px;

    color: #FFFFFF;
}