.header__social-icon-list {
  margin-right: 21px;
}

.header__social-icon-list:last-of-type {
  margin-right: 0;
}

@media (max-width: 320px) {
  .header__social-icon-list {
    margin-right: 8px;
  }
}