.contacts__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 458px;
    height: 456px;
    
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
}