.contacts__block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 80px 0 0 0;
}

@media screen and (max-width: 640px) {
    .contacts__block {
        flex-direction: column;
        margin: 60px 0 0 0;
    }
}