.hero__main-text {
  max-width: 444px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 769px) {
  .hero__main-text {
    max-width: 100%;
    align-items: center;
  }
}